form action="/recipes" method="post"
    input type="text" name="name_recipe" placeholder="Recipe name"
    input type="text" name="name_ingrediens" placeholder="potato-4st,water-100ml"
    input type="submit" value="Skapa Post"