form action="/recipes/new" method="post"
    input type="text" name="name_recipe" placeholder="Recipe name"
    input type="text" name="name_ingrediens" placeholder="ingrediens"
    input type="submit" value="Skapa Post"